@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --gradient-color: linear-gradient(135deg, #ca0000, #ca0000);
  --primary-color: #202020;
  --primary-color-hover: #676767;
  --secondary-color: #ca0000;
  --secondary-color-hover: #ff002b;
  --text-color: #BCBCCC;
}

body {
  background: var(--primary-color   );
  display: flex;
  height: 100vh;
}

header > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  border-bottom: var(--secondary-color) 5px solid;
}

.logo {
  font-size: 2em;
  color: var(--text-color);
  cursor: default;
}
.logo span {
  color: var(--secondary-color-hover);
}
.navigation {
  margin-left: -300px;
}
.navigation a {
  font-size: 1.1em;
  color: var(--text-color);
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  transition: 0.3s;
}

.navigation a:hover {
  color: var(--secondary-color);
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 100px;
}
.content {
  max-width: 500px;
  color: var(--text-color);
}
.content h2 {
  font-size: 3em;
}
.content h2 span {
  color: var(--secondary-color);
}
.content h4 {
  font-size: 2em;
}
.content p {
  padding: 10px 0 40px 0;
}
.btn-group a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 40px;
  background: var(--secondary-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  font-weight: 500;
  transition: 0.3s;
}
.btn-group a:hover:nth-child(1) {
  color: var(--secondary-color);
  background: transparent;
}
.btn-group a:nth-child(2) {
  color: var(--secondary-color);
  background: transparent;
  margin-left: 30px;
  padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
  color: var(--text-color);
  background: var(--secondary-color);
}
.social-icons {
  position: absolute;
  bottom: 50px;
}
.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--secondary-color);
  border-radius: 50%;
  margin-right: 22px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #fff;
  outline: 2px solid var(--secondary-color);
  transition: 0.3s;
}
.social-icons a:hover {
  transform: translateY(-5px);
}
.social-icons a i {
  color: var(--text-color);
}

.foto {
  flex: 1;
  background: radial-gradient(circle at center, #ca0000 150px, transparent 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}